source https://api.nuget.org/v3/index.json
storage: none

nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.Extensions.FileProviders.Embedded

group Test
  source https://api.nuget.org/v3/index.json
  storage: none
  
  clitool dotnet-xunit

  nuget Microsoft.AspNetCore.Server.Kestrel
  nuget Microsoft.Extensions.Logging.Console
  nuget Microsoft.Extensions.Logging.Debug
  nuget Giraffe
  nuget Microsoft.AspNetCore.TestHost
  nuget YamlDotNet

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE